@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.menu-anime{
    position: fixed;
}

.bg {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100vh;
  color: #fff;
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a33e46;
  transform: translate(0, -100%);
  transition: transform cubic-bezier(0.42, 0, 0.58, 1) 1.2s;
  content: '';
}


/****** Base style. ******/
body {
  margin: 0;
}